<form id="attribute-dialog" autocomplete="off">
               
        <div class="form-group">
            <label>Difficulty</label>
            <select name="difficulty">
                <option value=60>(+60) Very Easy</option>
                <option value=40>(+40) Easy </option>
                <option value=20>(+20) Average</option>
                <option value=0 selected>(+0) Challenging</option>
                <option value=-10>(-10) Difficult</option>
                <option value=-20>(-20) Hard</option>
                <option value=-30>(-30) Very Hard</option>
            </select>
        </div>
</form>
    