<div class="wfrp4e chat-card roll-card" data-actor-id="{{{actor._id}}}" data-stat-type="{{{statType}}}" data-stat-id="{{{statId}}}" data-difficulty-id="{{{difficulty}}}" >
        
        {{#if flavor}}    
            <header class="card-header flexrow">
                <!-- <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/> -->
                <h3>{{flavor}}</h3>
            </header>
        {{/if}}
      
        <div class="card-content">{{{stat.label}}}: {{{stat.total}}}</div>
        <div class="card-content">Difficulty: {{{difficultyDescription}}}</div>
        <div class="card-content">Target Number: {{{rollTarget}}}</div>

        {{#if rerollData.reroll}}  
            <div class="dice-total dice-reroll">{{rerollData.result}}</div>
        {{/if}}

        <div class="dice-total">{{result}}</div>

        {{#if success}}
            <div class="card-content">Outcome: Success (by {{{slTotal}}} success levels)</div>
        {{else}}
            <div class="card-content">Outcome: Failure (by {{{slTotal}}} success levels)</div>
        {{/if}}

        <div class="card-buttons">
            {{#unless rerollData.fortune}}
                {{#unless success}}
                    <button data-action="fortune-reroll" data-result={{result}}>Fortune({{{actor.data.status.fortune.value}}}): Reroll</button>
                {{/unless}}
                <button data-action="fortune-successlevel" data-result={{result}}>Fortune({{{actor.data.status.fortune.value}}}): +1 SL</button>
            {{/unless}}
            {{#if rerollData.reroll}}
                {{#unless success}} 
                    <button class="corruption" data-action="corruption-reroll">Dark Deals: Reroll</button>
                {{/unless}}
            {{/if}}
            <button data-action="resilience-succeed">Resilience({{{actor.data.status.resilience.value}}}): I Will Not Fail</button>
        </div>
    </div>