<div class="wfrp4e chat-card weapon-card" data-actor-id="{{actor._id}}" data-item-id="{{item.id}}">
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
    </header>

    <div class="card-content">{{{data.description.value}}}</div>

    <div class="card-buttons">
        <button data-action="attackersTest">Attackers Test</button>
        <button data-action="defendersTest">Defenders Test</button>
        {{#if data.damage2.value}}<button data-action="weaponDamage2">Alt. Damage</button>{{/if}}
    </div>

    <footer class="card-footer">
        <span>{{data.range.value}}</span>
        <span>{{data.properties.value}}</span>
    </footer>
</div>
