<form class="wfrp4e item-sheet skill-sheet {{cssClass}}" autocomplete="off">
        <header class="sheet-header">
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
            <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </header>
    
        <nav class="sheet-tabs tabs" data-tab-container="primary">
            <a class="item active" data-tab="description">Description</a>
            <a class="item" data-tab="details">Details</a>
        </nav>
    
        <!-- Skill Description -->
        <div class="tab editor active" data-tab="description">
            <div class="editor-content" data-edit="data.description.value">
               {{{data.description.value}}}
            </div>
            <a class="editor-edit"><i class="fas fa-edit"></i></a>
        </div>
    
        <!-- Skill Details -->
        <div class="tab" data-tab="details">
    
<!--             <div class="form-group">
                <label>{{data.career.label}}</label>
                <input type="Boolean" name="data.career.value" value="{{data.career.value}}" data-dtype="{{data.career.type}}"/>
            </div> -->

            <div class="form-group">
                <label>{{data.career.label}}</label>
                <input type="checkbox" name="data.career.value" value="{{data.career.value}}" data-dtype="Boolean" {{checked data.career.value}}/>
            </div>
                        
            <div class="form-group">
                <label>{{data.advances.label}}</label>
                <input type="number" name="data.advances.value" value="{{data.advances.value}}" data-dtype="{{data.advances.type}}"/>
            </div>
                                    
            <div class="form-group">
                <label>{{data.modifier.label}}</label>
                <input type="number" name="data.modifier.value" value="{{data.modifier.value}}" data-dtype="{{data.modifier.type}}"/>
            </div>
    
            <div class="form-group">
                <label>{{data.attribute.label}}</label>
                <!-- <input type="text" name="data.max.value" value="{{data.max.value}}" data-dtype="{{data.max.type}}"/> -->
                <select name="data.attribute.value" data-dtype="{{data.attribute.type}}">
                    {{#select data.attribute.value}}
                    {{#each attributeSelect as |name abl|}}
                    <option value="{{abl}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

        </div>
    
        <button type="submit" name="submit" value="1"><i class="far fa-save"></i> Save Changes</button>
    </form>
    