<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <ol class="item-details">

    </ol>

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>

    <div class="tab editor active" data-tab="description">
        <div class="editor-content" data-edit="data.description.value">
           {{{data.description.value}}}
        </div>
        <a class="editor-edit"><i class="fas fa-edit"></i></a>
    </div>


  

    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> Save Changes</button>
</form>
